@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --text-light: grey;
  --border-color: rgb(199, 199, 199);
  --primary-color: #00ADE8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
  background-color: #f6f7fb;
  font-family: 'Nunito', sans-serif;
}

nav {
  background-color: white;
  box-shadow: 0 1px 0 0 var(--border-color);
}
nav .container {
  padding: 15px;
}
nav div {
  display: flex;
  justify-content: space-between;
}
nav a, nav p {
  margin: auto 20px;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #555B68;
}
a, nav a {
  color: var(--primary-color);
  text-decoration: none;
}

nav .navbar__brand img {
  margin: auto 0;
  margin-right: 10px;
}
nav .navbar__brand p {
  font-weight: 600;
  font-size: 23px;
  margin: auto 0;
  display: inline-flex;
}
nav .navbar__togglr {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  color: var(--primary-color);
}

.title--secondary {
  margin-top: 20px;
  font-size: 16px;
}

.card {
  background: white;
  padding: 30px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

main {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  vertical-align: middle;
}
main > .container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

#settings {
  grid-column: 1;
  grid-row: 1/3;
}
#settings form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
#settings form > div:nth-child(1),
#settings form > h3 {
  grid-column: 1/3;
}

#earnings_chart {
  grid-column: 2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: auto auto auto auto;
  gap: 10px 30px;
  align-items: center;
}
#earnings_chart .title {
  grid-column: 1/3;
}
#earnings_chart__chartWrapper {
  grid-column: 1;
  grid-row: 2/5;
}
#rev-chartjs {
  width: 100%;
  height: 350px;
}

#earnings_more {
  padding: 0;
  grid-column: 2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}
#earnings_more .dataBlock {
  text-align: center;
  padding: 5px;
  box-shadow: 1px 0 0 0 var(--border-color),
              0 1px 0 0 var(--border-color);
}


.u-fillLeft_fitRight {
  grid-column: 1/3;
  display: flex;
  align-items: flex-end;
}
.u-fillLeft_fitRight label {
  width: -webkit-fill-available;
  margin-right: 15px;
}
.u-fillLeft_fitRight input[type="number"] {
  width: 9em;
}


.dataBlock {
  white-space: nowrap;
}
.dataBlock strong {
  font-size: 22px;
  font-weight: 600;
}
.dataBlock p, label {
  margin: 5px 0;
  font-size: 13px;
  font-weight: 500;
  color: var(--text-light);
}

#about {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
}
#about p {
  margin: 5px;
  font-size: 12px;
}