@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --text-light: grey;
  --border-color: rgb(199, 199, 199);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
  background-color: #f6f7fb;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}

.title {
  margin-bottom: 5px;
  text-align: center;
  font-weight: 400;
  font-family: 'Quicksand';
  color: var(--border-color);
}

.card {
  background: white;
  padding: 30px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

#settings {
  grid-column: 1;
  grid-row: 2/4;
}
#settings form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
#settings form > div:nth-child(1),
#settings form > div:nth-child(2),
#settings form > h3 {
  grid-column: 1/3;
}

#earnings_chart {
  grid-column: 2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto auto auto;
  gap: 10px 30px;
  align-items: center;
}
#earnings_chart > div:first-child {
  grid-column: 1;
  grid-row: 1/4;
}

#earnings_more {
  padding: 0;
  grid-column: 2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: auto auto auto;
  overflow: hidden;
}
#earnings_more .dataBlock {
  text-align: center;
  padding: 5px;
  box-shadow: 1px 0 0 0 var(--border-color), 
              0 1px 0 0 var(--border-color);
}

.dataBlock {
  white-space: nowrap;
}
.dataBlock strong {
  font-size: 24px;
  font-weight: 500;
}
.dataBlock p, label {
  margin: 5px 0;
  font-size: 13px;
  font-weight: 500;
  color: var(--text-light);
}

input {
  line-height: 2.8;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 0 15px;
  margin: 5px 0;
  outline: none;
}
input:focus {
  border-width: 1.5px;
  margin: 4.5px -0.5px;
}

input[type="button"] {
  width: 50%;
  background-color: white;
  border-radius: 0;
  cursor: pointer;
}
input[type="button"]:first-of-type {
  border-radius: 15px 0 0 15px;
  margin-right: -0.5px;
}
input[type="button"]:last-of-type {
  border-radius: 0 15px 15px 0;
  margin-left: -0.5px;
}

.switch {
  position: relative;
  display: inline-block;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  width: 42px;
  height: 23px;
  cursor: pointer;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 15px;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #000;
}
input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}